torch
transformers
Pillow
numpy
safetensors
tqdm
accelerate
bitsandbytes
httpx==0.24.0
peft==0.4.0
scikit-learn==1.2.2
timm==0.6.13
tokenizers==0.15.0
torchvision==0.15.2
regex!=2019.12.17
huggingface-hub>=0.19.4 