accelerate==0.21.0
bitsandbytes==0.41.0
httpx==0.24.0
peft==0.4.0
scikit-learn==1.2.2
timm==0.6.13
tokenizers==0.15.0
torch==2.0.1
torchvision==0.15.2
transformers==4.36.2
numpy>=1.17
pillow>=5.3.0
tqdm>=4.27
regex!=2019.12.17
safetensors>=0.3.1
huggingface-hub>=0.19.4 